<div id="page-wrapper">

  <section id="banner">
    <div class="inner">
      <h2>It's me, Mario!</h2>
      <p class="about-me">I'm a web and mobile application developer with a great passion for games, which I either play or develop in my free
        time. :)</p>
      <ul class="actions">
        <li>
          <a class="icon grow fa-button fa-facebook" href="https://facebook.com/ampov.mario" target="_blank"></a>
        </li>
        <li>
          <a class="icon grow fa-button fa-twitter" href="https://twitter.com/MarioAmpov" target="_blank"></a>
        </li>
        <li>
          <a class="icon grow fa-button fa-linkedin" href="https://linkedin.com/in/ampov-mario/" target="_blank"></a>
        </li>
      </ul>
    </div>
  </section>

  <section *ngFor="let project of projects; let i = index" class="wrapper spotlight" [ngClass]="['style' + ((i % 3) + 1), i % 2 == 1 ? 'alt' : '']">
    <div class="inner">
      <a href="#" class="image"><img [src]="project.picture" alt="" /></a>
      <div class="content">
        <h2 class="major">{{project.name}} ({{project.year}})</h2>
        <p>{{project.description}}</p>
        <p><span *ngFor="let member of project.projectMembers; let l = last"><strong>{{member.name}}: </strong>{{member.role}} <br *ngIf="!l"></span></p>
        <ul class="icons">
          <li *ngFor="let action of project.projectActions"><a class="icon grow fa-button" [ngClass]="action.icon" [href]="action.link" target="_blank"></a></li>
        </ul>
      </div>
    </div>
  </section>

  <section id="footer">
    <div class="inner">
      <h2 class="major">Get in touch</h2>
      <ul class="contact">
        <li class="fa-facebook"><a href="https://facebook.com/ampov.mario" target="_blank">facebook.com/ampov.mario</a></li>
        <li class="fa-twitter"><a href="https://twitter.com/MarioAmpov" target="_blank">twitter.com/MarioAmpov</a></li>
        <li class="fa-linkedin"><a href="https://linkedin.com/in/ampov-mario/" target="_blank">linkedin.com/in/ampov-mario</a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Mario Ampov. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
      </ul>
    </div>
  </section>

</div>