<div id="page-wrapper">

	<!-- Header -->
	<div id="header-wrapper">
		<div id="header">

			<!-- Logo -->
			<h1><a href="index.html">Mario Ampov</a></h1>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li [class.current]="selected == 'me'"><a pageScroll [routerLink]="['']" href="#banner" (click)="selected = 'me'">Me</a></li>
					<li [class.current]="selected == 'game'"><a pageScroll [routerLink]="['']" href="#game" (click)="selected = 'game'">Game Projects</a></li>
					<li [class.current]="selected == 'other'"><a pageScroll [routerLink]="['']" href="#other" (click)="selected = 'other'">Other Projects</a></li>
					<li [class.current]="selected == 'contact'"><a pageScroll [routerLink]="['']" href="#footer" (click)="selected = 'contact'">Contact</a></li>
				</ul>
			</nav>

			<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Howdy. This is Mario.</h2>
					<p>A game programmer</p>
				</header>
			</section>
		</div>
	</div>

	<router-outlet></router-outlet>

	<!-- Footer -->
	<div id="footer-wrapper">
		<section id="footer" class="container">
			<div class="row">
				<div class="12u">
					<section>
						<header>
							<h2>Contact me</h2>
						</header>
						<ul class="social">
							<li><a class="icon fa-facebook" href="https://facebook.com/ampov.mario"><span class="label">Facebook</span></a></li>
							<li><a class="icon fa-twitter" href="https://twitter.com/MarioAmpov"><span class="label">Twitter</span></a></li>
							<li><a class="icon fa-linkedin" href="https://www.linkedin.com/in/ampov-mario/"><span class="label">LinkedIn</span></a></li>
						</ul>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<!-- Copyright -->
					<div id="copyright">
						<ul class="links">
							<li>&copy; Mario Ampov. All rights reserved.</li>
							<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>

</div>