<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Klonk (2016)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. </p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Puzzle Pilot (2015)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Rite of passage GGJ (2016)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Inspired GGJ (2014)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">FitKit (2017)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">UpVerb (2017)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Dareio (2017)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Mi se jade (2014)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Eksterno (2014)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Game of Sports (2015)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Care Optimizer (2016)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>

<section id="one" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="assets/images/pic01.jpg" alt="" /></a>
    <div class="content">
      <h2 class="major">Nederman (2017)</h2>
      <p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin
        posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus
        viverra, ex nulla cursus.</p>
      <a href="#" class="special">Learn more</a>
    </div>
  </div>
</section>